[Unit]
Description=Auto-commit Obsidian changes to Git
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/home/jbi/Git/2025-blog-digital-garden
ExecStart=/home/jbi/Git/2025-blog-digital-garden/auto-commit.sh
User=jbi
StandardOutput=append:/tmp/obsidian-autocommit.log
StandardError=append:/tmp/obsidian-autocommit.log
